body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url('transport.jpg');
    color: rgb(23, 3, 3);
    text-align: center;
    padding: 5em 0;
}

.hero-content {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(28, 125, 115);
    color: rgb(80, 12, 12);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: rgb(52, 108, 84);
}

.destinations, .activities, .testimonials, .contact {
    text-align: center;
    padding: 3em 0;
}

.destination, .activity {
    max-width: 300px;
    margin: 0 auto 2em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.destination:hover, .activity:hover {
    transform: scale(1.05);
}

.destination img, .activity img {
    width: 100%;
    border-radius: 5px;
}

.destination h3, .activity h3 {
    margin-top: 0.5em;
}

.testimonial {
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

footer {
    background: #479bef;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}




